Screen {
    layout: vertical;
}


#main {
    height: 1fr;
}

#jobs {
    width: 25%;
    min-width: 36;
    height: 1fr;
    border: solid green;
}

#preview {
    width: 1fr;
    height: 1fr;
    border: solid $primary;
}
